@model UserModel
@{
	// TODO: Add more information to each user when the website is a bit more developed
	ViewData["Title"] = $"{Model.UserName}'s Profile";
}

<h1>@Html.DisplayFor(u => u.UserName)'s Profile</h1>
